version: '3.7'

services:
    api:
        build:
            context: .
        command: npm run {{ lookup("env", "COMMAND") }}
        container_name: flips_api
        networks:
            - proxy
        expose:
            - {{ lookup("env", "PORT") }}
        environment:
{{ production_vars | indent( width=12, indentfirst=True)}}
{{ production_secrets | indent( width=12, indentfirst=True)}}
{{ aws_secrets | indent( width=12, indentfirst=True)}}
{{ common_vars | indent( width=12, indentfirst=True)}}
        volumes:
            - ./src:/code/src
            - ./infrastructure:/code/infrastructure
            - ./Makefile:/code/Makefile
            - ./tsconfig.json:/code/tsconfig.json
            - ./webpack.config.js:/code/webpack.config.js
            - ./ansible.cfg:/code/ansible.cfg
            - ./build:/code/build
            - {{ lookup("env", "NODE_VOLUMES") }}:/code/node_modules

networks:
    proxy:
        external:
            name: {{ lookup("env", "PROXY_NETWORK") }}

volumes:
    {{ lookup("env", "NODE_VOLUMES") }}:
        external:
            name: {{ lookup("env", "NODE_VOLUMES") }}