version: '3.7'

services:
    apitest:
        image: node:latest
        working_dir: /code
        command: npm run {{ lookup("env", "COMMAND") }}
        container_name: flips_api_test
        depends_on:
            - mongodbtest
            - redistest
        ports:
            - {{ lookup("env", "PORT") }}:{{ lookup("env", "PORT") }}
        environment:
{{ test_vars | indent( width=12, indentfirst=True)}}
{{ common_vars | indent( width=12, indentfirst=True)}}
        volumes:
            - .:/code
    
    mongodbtest:
        image: mongo
        container_name: flips_mongo_test
        command: --port 27018
        ports:
          - '27018:27018'

    redistest:
        image: redis
        container_name: flips_redis_test
        command: --port 6380
        ports:
          - '6380:6380'
