version: '3.7'

services:
    api:
        image: node:12.18.2
        working_dir: /code
        command: npm run {{ lookup("env", "COMMAND") }}
        container_name: flips_api
        depends_on:
            - mongodb
            - redis
        ports:
            - '{{ lookup("env", "PORT") }}:{{ lookup("env", "PORT") }}'
            - '587:587'
        environment:
{{ development_vars | indent( width=12, indentfirst=True)}}
{{ development_secrets | indent( width=12, indentfirst=True)}}
{{ aws_secrets | indent( width=12, indentfirst=True)}}
{{ common_vars | indent( width=12, indentfirst=True)}}
        volumes:
            - .:/code
    
    mongodb:
        image: mongo
        container_name: flips_mongo
        ports:
          - '27017:27017'

    redis:
        image: redis
        container_name: flips_redis
        ports:
          - '6379:6379'

